.header__logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 90px;
  margin-bottom: 20px;
}

.photographer-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer-article__link{
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.photographer-article__infos{
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.photographer-article__portrait {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.photographer-article__name {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
}

.photographer-article__city{
  color: #901C1C;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.photographer-article__tagline{
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.photographer-article__price{
  color: #757575;
  font-size: 9px;
  font-weight: 400;
  margin: 0;
}

/*************************************************************************

Media Queries

*************************************************************************/
@media screen and (max-width: 1050px){
  .article__photograph__link__name{
      font-size: 30px;
  }
}

@media screen and (max-width: 950px){
  .photographer_section{
      grid-template-columns: 1fr 1fr;
  }    
}

@media screen and (max-width: 768px){
  .header__logo{
      margin: 0;
      margin-top: 15px;
  }
  .header__title{
      margin: 0;
  }
  .photographer_section{
      grid-template-columns: 1fr;
  } 
}