/**

PHOTOGRAPHER HEADER

*/
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.photographer-infos__name{
  color: #D3573C;
  font-size: 67px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.photographer-infos__city{
  color: #901C1C;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.photographer-infos__tagline{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
/**

PHOTOGRAPHER FILTER

*/
.medias-filter{
  margin: 10px 100px;
}

.medias-filter_label{
  font-weight: 700;
}

.medias-filter_select{
  height: 60px;
  width: 170px;
  background-color: #901C1C;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 10px;
  cursor: pointer;
}

.medias-filter_select-opt{
  height: 50px;
  border-top: 1px solid white;
}
/**

PHOTOGRAPHER MEDIAS

*/
.medias-container{
  padding: 20px 0;
  margin: 0 100px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 90px;
}

.media-image{
  width: 350px;
  margin:10px 10px;
}

.media-image__image{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.media-image__caption{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  color: #901C1C;
  
  font-size: 20px;
}

.media-image__title{
  width: 80%;
  font-weight: 400;
  margin-top: 5px;
}
.media-image__likes{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}
.media-image__likes-number{
  display: flex;
  justify-content: flex-end;
  width: 20%;
  font-weight: 700;
}


.media-image__likes-icon{
  cursor: pointer;
  margin-left: 10px;
}

.media-image__likes-icon--clicked {
  content: "\f004";
  font-weight: 900;
  transition: 600ms;
  background-image: linear-gradient(180deg,#901C1C,#901C1C);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/**

PHOTOGRAPHER FLOATING PRICE

*/
.floating-likes{  
  z-index: 1;  
  position: fixed;
  bottom: 0vh;
  right: 5vh;
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background-color: #DB8876;
  width: 376px;
  height: 80px;
  font-size: 24px;
  border-radius: 15px 15px 0 0;
}

.floating-likes_infos{  
  display:flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.floating-likes_info--number{
  font-weight: 700;
  margin-right: 10px;
}
/**

PHOTOGRAPHER CONTACT MODAL

*/
.contact-modal{
  background-color: #DB8876;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  margin: auto;
}

.contact-modal:focus{
  outline: none;
}

.contact-modal::backdrop{
  background: rgb(0 0 0 / 30%);
}

.contact-modal__header{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.contact-modal__title {
  line-height: 0.7em;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}

.contact-modal__subtitle{
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

.contact-modal__close{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 70px;
  color: white;   
}

.contact-modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.contact-modal__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
  border: none;
  padding: 0;
}

.contact-modal__label {
  color: #312E2E;
  font-size: 36px;
}

.contact-modal__form--data{    
  width: 100%;
}

.contact-modal__form--data[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: #000000;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
  line-height: 1.2;
  font-weight: 700;
}

.contact-modal__form--data[data-error-visible="true"]::after {
opacity: 1;
}

.contact-modal__form--data[data-error-visible="true"] textarea,
.contact-modal__form--data[data-error-visible="true"] input{
border: 2px solid #ff0000;
}

.contact-modal__inputbox{
  position: relative;
}

.error__validation{
  width: calc(68px - 20px);
  height: calc(68px - 24px);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  padding: 10px;
  font-size: 2rem;
  position: absolute;
  bottom: 4px;
  right: 0;
  display:none;
}

.error__validation--textarea{
  bottom: 38px;
}

.contact-modal__input {
  width: calc(100% - 20px);
  height: 68px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  padding: 0 10px;
}

.contact-modal__input--textarea{
  height: 136px;                      
  resize: none;
}

.contact-modal__btn--close{
  display: none;
}

.contact-modal__validate{
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
  text-align: center;
}

.contact-modal__validate--close{
  display: none;
}
/*************************************************************************

Media Queries

*************************************************************************/
@media screen and (max-width:1366px) {
  .photograph-header {
      margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .photographer-infos__name{
      font-size: 50px;
  }
  photographer-article__portrait{
      height: 150px;
      width: 150px;
  }
}

@media screen and (max-width: 950px) {
  .floating-likes{
      right: calc(50% - 150px);
      bottom: 0;
  }

  .floating-likes_infos{
      width: 300px;
      height: 60px;
  }

  .media-image{
      width: 100%;
  }

  .media-image__image{
      width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .photograph-header{
      flex-flow: column;
  }

  .photograph-header_infos{
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
  }

  .photographer-article__portrait{
      height: 100px;
      width: 100px;
  }

  .photograph-header_contact{
      height: 50px;
  }

  .medias-filter_select{
      height: 50px;
  }

  .media-image{
      width: 100%;
  }

  .media-image__figure{
      width: 100%;
  }

  .media-image__image{
      width: 100%;
  }
}

@media screen and (max-width: 450px) { 
  .floating-likes_infos{
      width: 300px;
      height: 50px;
  }

  .medias-filter{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
  }

  .medias-container{
      margin: 0;
  }

  .media-image__figure{
      margin-left: 0;
      margin-right: 0;
  }

  button[class*='lb__btn__']{
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: transparent;
      cursor: pointer;    
      font-weight: 700;
      font-size: 30px;
      color: #901C1C;
      transition: 350ms;
  }
}